.background {
    height:100vh;
}
.topBar {
    height:10%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
}
.logo {
    height:100%;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.searchContainer {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileArea {
    height:100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBox {
    height: 50%;
    width: 80%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.searchIcon {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.searchInput {
    width: 90%;
    height: 100%;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 20px;
}
.profileIcon {
    height:50px;
    width: 50px;
    background-color: orangered;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mailContainer {
    height:90%;
    width: 100%;
    display: flex;
}
.mailList {
    height: 100%;
    width: 90%;
    margin-top: 10px;
}
.navBarContainer {
    width:20%;
    height:100%;
    box-shadow: 21px -11px 23px -16px rgba(0,0,0,0.42);
    -webkit-box-shadow: 21px -11px 23px -16px rgba(0,0,0,0.42);
    -moz-box-shadow: 21px -11px 23px -16px rgba(0,0,0,0.42);
    display: flex;
    align-items: flex-start;
}
.row1 {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lightgreen;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left:10px;
    cursor: pointer;
    margin-top: 10px;
}
.notifyMails {
    font-size: 16px;
    color: red;
    margin-left: 10px;
}
.mailsContainer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 10px;
    height: 5%;
}
.mailsViewContainer {
    width: 100%;
    height: 95%;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.mail {
    height:10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.senderName {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.subject {
    height:100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.date {
    height:100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logOut {
    position: absolute;
    height: 10%;
    width: 18%;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.subjectMail {
    height:10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.senderInfo {
    height:10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.senderIcon {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: lightgray;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.senderName {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.content {
    height: 60%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.sendMail {
    height: 30%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ml-cnt {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
}
.mailInput {
    background-color: white;
    height:100%;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}
.btn-cnt {
    height: 30%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.send-button {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.mail-ctn {
    width: 100%;
    padding:5px;
}
.sendedMailBox {
    max-width: 60%;
    min-width: 20%;
    background-color: lightgray;
    float: right;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 5px;
}
.sendedMailDate {
    align-self: flex-end;
    font-size: small;
}
.receivedMailBox {
    max-width: 60%;
    min-width: 20%;
    background-color: lightblue;
    float: left;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 5px;
}
.subjectHeader {
    margin-left: 30px;
}
